/* Services.css */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
  background-color:#e1fdc9;
}
.two-services{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 40px;
}
.two-service-card {/* Adjust width as needed */
  border: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  border-radius: 8px;
  display: flex;
  background: rgb(19,19,19);
background: linear-gradient(90deg, rgb(102, 102, 102) 0%, rgba(112,191,41,1) 70%, rgba(112,191,34,1) 80%);
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-align: center;
  width: 45%;
  margin: 10px;
  padding: 20px;
}
.service-card {
  width: 250px; /* Adjust width as needed */
  border-radius: 8px;
  background-color: white;
  text-align: center;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}

.outline-btn:hover{
  background-color: #70bf29;
  color: white;
}
.two-service-card img{
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  border-radius: 50%;
  /* border: 1px solid black; */
  margin-bottom: 10px;
  /* padding: 10px;
  background-color: #bbfd82; */
}
.service-card img {
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  border-radius: 20px;
  /* border: 1px solid black; */
  margin-bottom: 10px;
  padding: 5px;
  /* background-color: #fff; */
}
.service-card h2,.two-service-card h2{
    max-width: 700px;
    margin-bottom: 10px;
    font-size: 18px;
    /* color: #70bf29; */
}
.service-card p{
    color: gray;
    line-height: 20px;
}
.two-service-card p{
  color: white;
    line-height: 25px;
    text-align: left;
}
.two-service-card div{
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
}
.service-card button{
  font-weight: 500;
}
.two-service-card div{
  text-align: left;
}